@model Modular.Modules.Core.ViewModels.Account.Manage.IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}
@if (ViewData["StatusMessage"] != null)
{
    <p class="text-success">@ViewData["StatusMessage"]</p>
}

    <main class="main main-elevated" style="        0px 40p">
        <div class="container">
            <div class="row content-wrapper d-flex align-items-stretch auth auth-img-bg">
                <div class="col-lg-6 align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-md-3">
                            <partial name="_AccountMenu" />
                        </div>
                        <div class="col-md-9">
                            <h2>["Account Dashboard"]</h2>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">["Account Information"]</div>
                                        <div class="card-body">
                                            @Model.FullName <br />
                                            @Model.Email
                                            <p class="text-right">
                                                <a href="~/user/info">["Edit"]</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">["Security"]</div>
                                        <div class="card-body">
                                            <dl class="row">
                                                <dt class="col-md-5">["Password"]:</dt>
                                                <dd class="col-md-7">
                                                    @if (Model.HasPassword)
                                            {
                                                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">["Change"]</a>
                                    }
                                    else
                                    {
                                        <a asp-area="Core" asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">["Create"]</a>
                            }
                                                </dd>
                                                <dt class="col-md-5">["External Logins"]:</dt>
                                                <dd class="col-md-7">
                                                    @Model.Logins.Count <a asp-area="Core" asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">["Manage"]</a>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">["Default shipping address"]</div>
                                        <div class="card-body">
                                            <vc:default-shipping-address></vc:default-shipping-address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

</main>