<div class="card">
    <div class="card-header">["Your account"]</div>
    <div class="card-body">
        <ul class="list-unstyled">
            <li><a href="~/user">["Account Dashboard"]</a></li>
            <li><a href="~/user/info">["Account Information"]</a></li>
            @*<li><a href="~/user/settings">["My Settings"]</a></li>*@
            <li><a href="~/user/address">["Address Book"]</a></li>
            <li><a href="~/user/orders">["Order History"]</a></li>
            <li><a href="~/user/wishlist">["Wish List"]</a></li>
        </ul>
    </div>
</div>
