@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ 
    ViewData["Title"] = "Home Page";
}

<div class="page-hero-slideshow ci-theme-slick-slider" data-navigation="all" data-effect="fade" data-slide-speed="3000" data-autoslide="true">
    <div class="page-hero page-hero-lg page-hero-align-center" style="        background-image: url(/images/banner.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-hero-content">
                        <div class="hero-badge-meta">
                            <span class="hero-badge-meta-item">
                                Isla de Margarita
                            </span>

                            @*<span class="hero-badge-meta-item">
                                    From: US$ 3,999
                                </span>*@
                        </div>
                        <h2 class="page-hero-title">La Propia Excursión.</h2>
                        <p class="page-hero-subtitle">
                            No es un full day más, es <strong>
                                LA PROPIA EXCURSIÓN

                                @*@await Component.InvokeAkync("EmployeeList")*@

                            </strong>.
                        </p>

                        <a href="/excursiones/26/la_propia_excursion/isla_margarita" class="btn btn-lg">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-hero page-hero-lg page-hero-align-center" style="        background-image: url(/images/banner3M.png);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-hero-content">
                        <div class="hero-badge-meta">
                            <span class="hero-badge-meta-item">
                                Isla de Margarita
                            </span>

                            @*<span class="hero-badge-meta-item">
                                    From: US$ 3,999
                                </span>*@
                        </div>
                        <h2 class="page-hero-title">La Propia Excursión.</h2>
                        <p class="page-hero-subtitle">No es un full day más, es <strong>LA PROPIA EXCURSIÓN</strong>.</p>

                        <a href="/excursiones/26/la_propia_excursion/isla_margarita" class="btn btn-lg">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-hero page-hero-lg page-hero-align-center" style="        background-image: url(/images/banner2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-hero-content">
                        <div class="hero-badge-meta">
                            <span class="hero-badge-meta-item">
                                Isla de Margarita
                            </span>

                            @*<span class="hero-badge-meta-item">
                                    From: US$ 3,999
                                </span>*@
                        </div>
                        <h2 class="page-hero-title">La Propia Excursión.</h2>
                        <p class="page-hero-subtitle">No es un full day más, es <strong>LA PROPIA EXCURSIÓN</strong>.</p>

                        <a href="/excursiones/26/la_propia_excursion/isla_margarita" class="btn btn-lg">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<main class="main widget-sections">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="widget-section widget_ci-filter-form">
                    <div class="filter-form-inline-wrap">
                        <form asp-controller="home" asp-action="buscador" asp-area="home" class="form-boxed filter-form-inline">
                            <div class="filter-form-group">
                                <label for="filter-inline-destination-1">
                                    <i class="fas fa-globe-americas"></i>
                                    Selecciona tu destino
                                </label>
                                <select id="filter-inline-destination-1" class="chosen-select" data-enable-search="true">

                                    <option value="5">Isla de Margarita</option>
                                    <!-- <option value="2">Greece</option>
                                    <option value="3">Italy</option>
                                    <option value="4">Spain</option> -->
                                </select>
                            </div>

                            <div class="filter-form-group">
                                <label for="filter-inline-category-1">
                                    <i class="fas fa-list-ul"></i>
                                    Selecciona una categoria
                                </label>
                                <select id="filter-inline-category-1" class="chosen-select" data-enable-search="true">

                                    <option value="6">Hoteles</option>
                                    <option value="3">Vacaciones</option>
                                    <option value="4">Paquetes</option>
                                    <!-- <option value="5">Luxury Vacations</option>
                                    <option value="2">Private Experience</option> -->
                                </select>
                            </div>

                            <div class="filter-form-group filter-form-range-inline">
                                <label>
                                    <i class="fas fa-calendar-alt"></i>
                                    Selecciona la duración
                                </label>

                                <div class="range-slider-wrap">
                                    <span class="range-slider" data-range-start="1" data-range-end="20" data-start="1" data-end="20" data-step="1">
                                        <input type="number" title="Min" hidden class="range-min" />
                                        <input type="number" title="Max" hidden class="range-max" />
                                    </span>

                                    <span class="range-slider-values">
                                        <span class="range-slider-value">
                                            <span class="value"></span> Días
                                        </span>

                                        <span class="range-slider-value">
                                            <span class="value"></span> Días
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="filter-form-group">
                                <button type="submit" class="btn-block">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- destinos importantes-->
                @*@*@

                @*<partial name="_DestinosIndex.cshtml" />*@


                @*@await Html.PartialAsync("_promocionesIndex", ViewData["_promocionesIndex"])*@

                <section class="widget-section">
                    <div class="section-heading">
                        <p class="section-subtitle">Venezuela</p>
                        <h2 class="section-title">Visita la Isla de Margarita</h2>
                    </div>

                    <div class="row row-items">
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="item">
                                @*<p class="text-style">12 tour packages</p>*@

                                <p>
                                    La Isla de Margarita es ideal para disfrutar de unas vacaciones inolvidables en familia o entre amigos.
                                    Asimismo ofrece condiciones muy favorables y espacios para el turismo corportativo.
                                </p>

                                <a href="/Destinos" class="btn btn-sm">Leer más</a>
                            </div>
                        </div>

                        @*@await Html.PartialAsync("_InteresesIndex.cshtml", ViewData["_InteresesIndex"])*@
                        @*<partial name="_PromocionesIndex" view-data="@ViewData["_promocionesIndex"]" />*@

                    </div>

                </section>


                <section class="widget-section">
                    <!--
                     Left aligned: add.text-left
                    Right aligned: add.text-right
                     -->
                    <div class="widget-hero" style="        background-image: url(/images/promo.png);">
                        <div class="row">
                            <!--
                            Left aligned: .col-lg-8 offset-lg-1 col-12
                            Right aligned: .col-lg-8 offset-lg-1 col-12
                            -->
                            <div class="col-lg-8 offset-lg-2 col-12">
                                <div class="hero-badge-meta">
                                    @*<span class="hero-badge-meta-item">
                                            11 Days
                                        </span>

                                        <span class="hero-badge-meta-item">
                                            From: US$ 3,999
                                        </span>*@
                                </div>

                                @*<h2 class="widget-hero-title">Paquete Principal o Publicidad</h2>*@

                                <p class="widget-hero-subtitle">
                                    <img src="/images/lapropia2.png" width="60%" />
                                </p>

                                <a href="/excursiones/26/la_propia_excursion/isla_margarita" class="btn btn-lg">Explorar excursión</a>
                            </div>
                        </div>
                    </div>
                </section>
                @*@await Html.PartialAsync("~/Views/Noticias/_NoticiasIndex.cshtml", ViewData["_NoticiasIndex"])*@

            </div>
        </div>

    </div>
</main>
