@section additionalMeta {
    <meta name="title" content="1" />
    <meta name="keywords" content="2s" />
    <meta name="description" content="3n" />
}

@section head {
    @*<link simpl-append-version="true" rel="stylesheet" href="~/lib/nouislider/distribute/nouislider.min.css" />*@
}
<h1> module C</h1>

<h2>Another test: @ViewBag.AnotherTestData</h2>

@await Component.InvokeAsync("Moulec", new { maxPriority:4, isDone:true })